<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="header"><strong>NG GUITAR DEMO</strong> </span>
    </mat-toolbar>
    <section style="padding: 10px">
      <h1>NG.Guitar</h1>
      <div style="margin: 20px">
        This is my playground project to experiment with web technologies and
        tools related to angular. I like guitar, I write angular this, is where
        I'm going to awkwardly glue both together.
      </div>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
