.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header {
  font-family: Amplify;
  font-size: 2rem;
}

.mat-toolbar {
  background-image: url('/assets/images/grid.svg');
  background-repeat: repeat repeat;
}
