<div class="shell-wrapper" fxLayout="column" fxLayoutAlign="start stretch">
  <mat-toolbar class="mat-elevation-z1">
    <button mat-icon-button id="menu" (click)="appDrawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="header"><strong>NG GUITAR DEMO</strong> </span>
    <span class="toolbar-spacer"></span>
    <span
      ><a
        mat-button
        title="View On GitHub"
        aria-label="Link To GitHub Repo For Project"
        href="https://github.com/TimDMorris/ng-guitar"
        ><img
          alt="GitHub"
          class="github-logo"
          src="assets/icons/github.svg"
        />GitHub</a
      ></span
    >
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" fxFlex="grow">
    <mat-sidenav
      #appDrawer
      rail-mode
      opened="true"
      (openedChange)="openedChange(appDrawer.opened)"
    >
      <mat-nav-list class="dashboard">
        <a mat-list-item class="disabled">
          <mat-icon mat-list-icon>account_circle</mat-icon>
          <p matLine>Progress</p>
        </a>
        <mat-divider></mat-divider>

        <a mat-list-item class="disabled">
          <mat-icon mat-list-icon>inbox</mat-icon>
          <p matLine>Setting</p>
        </a>
        <a mat-list-item class="disabled">
          <mat-icon mat-list-icon>star</mat-icon>
          <p matLine>Help</p>
        </a>
        <a mat-list-item class="disabled">
          <mat-icon mat-list-icon>drafts</mat-icon>
          <p matLine>About</p>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content
      fxLayout="column"
      fxLayoutAlign="start stretch"
      fxLayoutGap="2rem"
    >
      <section style="padding: 10px">
        <h1>NG.Guitar</h1>
        <div style="margin: 20px">
          This is my playground project to experiment with web technologies and
          tools related to angular. I like guitar, I write angular, this is
          where I'm going to awkwardly glue both together.
        </div>
      </section>
      <section>
        <h2>Fretboard:</h2>
        <ng-guitar-fretboard> </ng-guitar-fretboard>
      </section>

      <section>
        <h2>Etude:</h2>
        <ng-guitar-etude> </ng-guitar-etude>
      </section>

      <section style="padding: 10px">
        <ng-guitar-metronome></ng-guitar-metronome>
      </section>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar
    color="primary"
    fxFlex="nogrow"
    fxLayoutAlign="space-between center"
  >
    <section>Copyright © 2022 T.D.Morris.</section>
    <section>right</section>
  </mat-toolbar>
</div>
