<div class="shell-wrapper" fxLayout="column" fxLayoutAlign="start">
  <mat-toolbar class="mat-elevation-z1" fxFlex>
    <button mat-icon-button id="menu" (click)="appDrawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="header"><strong>NG GUITAR</strong> </span>

    <span class="toolbar-spacer"></span>

    <a
      mat-button
      title="View On GitHub"
      aria-label="Link To GitHub Repo For Project"
      href="https://github.com/TimDMorris/ng-guitar"
      ><img alt="GitHub" class="github-logo" src="assets/icons/github.svg" />
      <span fxHide.lt-sm="true" fxShow>GitHub</span>
    </a>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #appDrawer
      rail-mode
      opened="false"
      (openedChange)="openedChange(appDrawer.opened)"
    >
      <mat-nav-list class="dashboard">
        <a mat-list-item class="disabled">
          <mat-icon mat-list-icon>account_circle</mat-icon>
          <p matLine>Progress</p>
        </a>
        <mat-divider></mat-divider>

        <a mat-list-item class="disabled">
          <mat-icon mat-list-icon>inbox</mat-icon>
          <p matLine>Settings</p>
        </a>
        <a mat-list-item class="disabled">
          <mat-icon mat-list-icon>star</mat-icon>
          <p matLine>Help</p>
        </a>
        <a mat-list-item class="disabled">
          <mat-icon mat-list-icon>drafts</mat-icon>
          <p matLine>About</p>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content
      fxLayout="column"
      fxLayoutAlign="start stretch"
      fxLayoutGap="0.5rem"
    >
      <section style="padding: 2px" fxFlex>
        <h1>Guitar Improv Practice Trainer</h1>
      </section>

      <section style="padding: 2px" fxHide fxShow.gt-s>
        <div style="margin: 0px 10px" class="intro">
          This is my playground project to experiment with web technologies and
          tools related to angular. I like guitar, I write angular, this is
          where I'm going to awkwardly glue both together.
        </div>
      </section>

      <section class="controls" style="padding: 10px" fxFlex>
        <ng-guitar-metronome
          (running)="metronomeStateChanged($event)"
          (tick)="ticked($event)"
          (beat)="beat($event)"
        ></ng-guitar-metronome>
      </section>

      <section fxFlex>
        <h3>Tuning: {{ fretboard.tuning }} - Key: {{ key }}</h3>
        <ng-guitar-fretboard [fretboard]="fretboard"> </ng-guitar-fretboard>
      </section>

      <section fxFlex="grow">
        <h3>
          Totally Random Etude: Beat
          {{ currentBeat }}
        </h3>

        <ng-guitar-tab-scroller
          #tabScroller
          style="height: 100%"
          [running]="running"
          [tick]="tickCount"
          [beat]="currentBeat"
          [tuning]="fretboard.tuning"
          [notes]="notes"
          [measure]="measure"
        ></ng-guitar-tab-scroller>
      </section>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar color="primary" fxFlex fxLayoutAlign="space-between center">
    <section>
      <small>
        © 2022
        <a
          title="View On GitHub"
          aria-label="Link To GitHub Repo For Project"
          href="https://github.com/TimDMorris/ng-guitar"
          >TimDMorris</a
        >.</small
      >
    </section>
    <section>
      <small>v{{ version }}</small>
    </section>
  </mat-toolbar>
</div>
