<section class="metronome-wrapper" fxLayout="column">
  <h5>
    <span *ngIf="this.isSupported"
      ><em
        ><small>Metronome Setup - Yeah, your browser is supported.</small></em
      ></span
    >
  </h5>

  <span
    class="metronome-parameters"
    fxLayout="row"
    fxLayout.lt-sm="column"
    fxLayoutAlign="start center"
    fxLayoutGap="1rem"
  >
    <section
      class="tempo"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="center center"
      fxLayoutGap="0.5rem"
      fxFlex="nogrow"
    >
      <button
        mat-icon-button
        color="primary"
        aria-label="Increase BPM"
        (click)="decreaseBPM()"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Decrease BPM"
          fontIcon="do_not_disturb_on"
        ></mat-icon>
      </button>

      <mat-slider
        class="tempo-slider"
        thumbLabel
        tickInterval="1"
        step="1"
        min="60"
        max="240"
        aria-label="units"
        [(ngModel)]="tempo"
        aria-labelledby="metronome tempo value"
      ></mat-slider>
      <button
        mat-icon-button
        color="primary"
        aria-label="Increase BPM"
        (click)="increaseBPM()"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Increase BPM"
          fontIcon="add_circle"
        ></mat-icon>
      </button>
    </section>

    <section fxFlex="nogrow">
      <mat-form-field class="tempo-number">
        <mat-label>Tempo: </mat-label>
        <input matInput placeholder="60" [value]="tempo" type="number" />
        <span matSuffix>bpm</span>
      </mat-form-field>
    </section>

    <!-- <label for="first-name">Tempo: </label>
    <input id="tempo" type="number" /> -->

    <!-- <label for="last-name">Sound: </label>
    <input id="sound" type="text" formControlName="sound" /> -->

    <!-- <label for="last-name">Visualization: </label>
    <input id="visualization" type="text" formControlName="visualization" /> -->

    <mat-form-field>
      <mat-label>Resolution: </mat-label>
      <mat-select
        appearance="fill"
        [(value)]="noteResolution"
        (valueChange)="changeResolution($event)"
      >
        <mat-option *ngFor="let item of noteResolutions" [value]="item.id">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="changeMetronomeState()">
      {{ isPlaying === true ? 'Stop' : 'Start' }}
    </button>
  </span>
</section>
