<section class="metronome-wrapper" fxLayout="column">
  <h5>
    Metronome Setup -
    <span *ngIf="this.isSupported"
      ><em>Yeah, your browser is supported.</em></span
    >
  </h5>

  <span
    class="metronome-parameters"
    fxLayout="row"
    fxLayout.lt-sm="column"
    fxLayoutAlign="start center"
    fxLayoutGap="1rem"
  >
    <section
      class="tempo"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="center center"
      fxLayoutGap="0.5rem"
      fxFlex="nogrow"
    >
      <span class="mat-caption">60</span>
      <mat-slider
        class="tempo-slider"
        thumbLabel
        tickInterval="1"
        step="1"
        min="60"
        max="240"
        aria-label="units"
        [(ngModel)]="tempo"
        aria-labelledby="metronome tempo value"
      ></mat-slider>
      <span class="mat-caption">240</span>
    </section>

    <section fxFlex="nogrow">
      <mat-form-field class="tempo-number">
        <mat-label>Tempo: </mat-label>
        <input matInput placeholder="60" [value]="tempo" />
        <span matSuffix>bpm</span>
      </mat-form-field>
    </section>

    <!-- <label for="first-name">Tempo: </label>
    <input id="tempo" type="number" /> -->

    <!-- <label for="last-name">Sound: </label>
    <input id="sound" type="text" formControlName="sound" /> -->

    <!-- <label for="last-name">Visualization: </label>
    <input id="visualization" type="text" formControlName="visualization" /> -->

    <mat-form-field>
      <mat-label>Resolution: </mat-label>
      <mat-select
        appearance="fill"
        [(value)]="noteResolution"
        (valueChange)="changeResolution($event)"
      >
        <mat-option *ngFor="let item of noteResolutions" [value]="item.id">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="changeMetronomeState()">
      {{ isPlaying === true ? 'Stop' : 'Start' }}
    </button>
  </span>

  <!-- <div fxLayout="column">
    <section class="debug-stuff">
      <h4>Debug Stuff</h4>
      <span>Worker Message: {{ workerMessage }}</span>
      <br />
    </section>
  </div> -->
</section>
